<!DOCTYPE html>
<html lang="fr">
<%- include('composants/head.ejs') %>

	<body>
		<%- include('composants/entete.ejs') %>
		<form>
			<input type="text" name="recherche" placeholder="Recherche"/>
			<button type="submit" action="/recherche">submit</button>
		</form>
		<%- include('composants/adresses.ejs') %>
		<%- include('composants/footer.ejs') %>
	</body>

</html>