body {
  background-color: #c9e3e8;
  display: flex;
  flex-flow: column;
  align-items: center;
  cursor: default;
}
body header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  padding: 0 55px;
  border-bottom: 5px solid #0097b2;
}
body header h1 {
  margin-bottom: 0;
}
body header nav ul {
  display: flex;
  flex-flow: row;
  border: none;
  padding: 0;
  margin: 0;
}
body header nav ul li {
  margin: 0 20px;
  list-style-type: none;
}
body header nav ul li:hover a {
  color: #ff8825;
}
body h1 {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 45px;
  color: #b2580d;
}
body a {
  text-decoration: none;
  color: #0097b2;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 22px;
  transition: all 0.2s;
}
body p {
  color: #0097b2;
  font-family: Open Sans;
}
body form {
  border: 3px solid #0097b2;
  font-family: Open Sans;
  font-size: 20px;
  padding: 50px;
  color: #0097b2;
}
body form input[type='text'] {
  font-family: Roboto;
  font-size: 20px;
  background-color: #ff9640;
  color: #c9e3e8;
  margin-bottom: 20px;
  border: 2px solid #ff8825;
}
body form input[type='submit'] {
  display: block;
  background-color: #c9e3e8;
  border: 2px solid #0097b2;
  padding: 10px;
  font-family: Open Sans;
  font-size: 12px;
  margin: 5px auto;
  color: #ff8825;
  transition: all 0.3s;
}
body form input[type='submit']:hover {
  color: #b2580d;
  padding: 15px;
  margin: 0 auto;
}
body form input:focus {
  border: 2px solid #b2580d;
  outline: none;
}
body form#formModif {
  border: none;
  padding: 0;
}
body ul {
  padding: 30px 60px;
  border: 3px solid #b2580d;
}
body ul li {
  color: #ff8825;
  font-family: Roboto;
  font-size: 20px;
}
.tableau {
  border-collapse: collapse;
}
.tableau tr td:nth-child(1) {
  cursor: default;
}
.tableau td,
.tableau th {
  border: 3px solid #0097b2;
  padding: 10px;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  color: #ff8825;
  cursor: pointer;
}
.tableau td a {
  color: #b2580d;
}
.tableau th {
  font-weight: bold;
}
